---
import Decrypted from '../components/decrypted_text_cursor.js';
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JAYK47</title>
  </head>
  <body style="margin:0">
    <main>
      <Decrypted client:load />
    </main>
  </body>
</html>
